<div class="row">
    <div class="col-md-12  col-sm-12">
        <div class="card">
            <div class="card-body pb-0">
                <address>
                    Niek van den Broek
                    <br />
                    <br /> Donations are always welcome!
                    <br /> Bitcoin Address: 14SribFui7GD4W2c8jHEdi1z2AKnNTbnKX
                    <br />
                </address>

                <address>
                    <strong>Support:</strong>
                    <a href="mailto:niek1993vdb@gmail.com"> niek1993vdb@gmail.com</a>
                    <br />
                </address>

            </div>
        </div>
    </div>
</div>