<h2>Members</h2>
<p>Click on a player to get more info!</p>
<div class="row">
    <div class="col-md-12">
        <div>
            <ngx-datatable 
            #myTable
            class='material' 
            [columnMode]="'force'"
            [rows]="rows" 
            [headerHeight]="50"
            [footerHeight]="50"
             [rowHeight]="50" 
             [scrollbarV]="true"
             (page)="onPage($event)"
             [limit]="10" 
             [selected]="selected"
             [selectionType]="'single'" 
             (select)='onSelect($event)'
             [count]="limit">


                <!-- Row Detail Template -->
                <ngx-datatable-row-detail [rowHeight]="50" #myDetailRow (toggle)="onDetailToggle($event)">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                        <div style="padding-left:60px; font-size:14px">
                            <div> {{row.role}},{{row.tag}}, {{row.trophies}},{{row.expLevel}}, {{row.arena.name}}, {{row.donations}}</div>
                        </div>
                    </ng-template>
                </ngx-datatable-row-detail>


                <!-- Column Templates -->
                <ngx-datatable-column [width]="50" [resizeable]="true" [sortable]="true" [draggable]="true" [canAutoResize]="false">

                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Expand/Collapse Row" (click)="toggleExpandRow(row)"
                            class="desktop-hidden">
                        </a>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Name" [flexGrow]="3" [minWidth]="100">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Rank" [flexGrow]="1" [minWidth]="50">
        
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{value}}
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Role" [flexGrow]="1">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span class="mobile-hidden">{{column.name}}</span>
                    </ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span class="mobile-hidden">{{value}}</span>
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Tag" [flexGrow]="1">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span class="mobile-hidden">{{column.name}}</span>
                    </ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span class="mobile-hidden">{{value}}</span>
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Trophies" [flexGrow]="1">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span class="mobile-hidden">{{column.name}}</span>
                    </ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span class="mobile-hidden">{{value}}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Level" prop="expLevel" [flexGrow]="1">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span class="mobile-hidden">{{column.name}}</span>
                    </ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span class="mobile-hidden">{{value}}</span>
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Arena" prop="arena.name" [flexGrow]="1">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span class="mobile-hidden">{{column.name}}</span>
                    </ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span class="mobile-hidden">{{value}}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Donations" [flexGrow]="1">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span class="mobile-hidden">{{column.name}}</span>
                    </ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span class="mobile-hidden">{{value}}</span>
                    </ng-template>
                </ngx-datatable-column>

                
            </ngx-datatable>
        </div>
    </div>

  
</div>